<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../Styles/index.css">

<head>
    <title>Pendulum Simulation</title>
</head>

<body>
    <div id="snackBar" class="hide"></div>
    <canvas id="myCanvas" width="900" height="350"></canvas>
    <div id="controller">
        <div class="container" id="pendulumController"> </div>
        <div class="container" id="processController"> </div>
    </div>
</body>
<script language="javascript" type="text/javascript" src="../Script/loader.js"></script>
<script language="javascript" type="text/javascript" src="../Script/index.js"></script>

</html>